// CONTAINERS & BOXES
$darkPurple: #432f70;
$lightPink: #b34270;
$lighterPink: #c75884;
$backgroundGray: #e2e2e2;
$backgroundDarkGray: #292929;
$borderGray: #3a3a3a;

// TEXT
$textDarkGray: #1f1f1f;
$textGray: #414141;
$fonts: 'Asap', sans-serif;

// INPUTS
$inputBackground: #f3f3f3;
$inputBorder: #c4c4c4;
$placeholderGray: #a5a5a5;

// BUTTONS
$buttonBackground: #7e7e7e;
$buttonText: white;
$buttonHover: #5e5e5e;
$selectorButtonBackground: #f3f3f3;
$selectorButtonHover: #ebebeb;
$errorButtonHover: #b40000;

// NOTIFICATIONS
$errorDarkRed: #cc0000;
$errorLightRed: #ffd3d3;
$successDarkGreen: #058f00;
$successLightGreen: #bbddbb;
