@use './variables';

.loginContainer {
	background-color: variables.$darkPurple;
	padding: 3rem;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
  
.loginBox {
	background-color: variables.$backgroundGray;
	border: 1px solid variables.$borderGray;
	border-radius: 0.5rem;
	padding: 3rem;
	margin: 1rem 0 0 0;
	max-width: 22rem;
	&::placeholder {
		color: variables.$placeholderGray;
	}

	h3 {
		font-family: variables.$fonts;
		font-size: 1.2rem;
		color: variables.$textDarkGray;
		margin-top: 0;
		margin-bottom: 1rem;
	}

	input {
		display: block;
		width: 15rem;
		border: 0;
		margin: .5rem 3rem .5rem 3rem;
		font-size: 1rem;
		font-family: variables.$fonts;
		padding: 0.5rem;
		background-color: variables.$inputBackground;
		border-bottom: 1px solid variables.$inputBorder;
		border-radius: 0.5rem;
	}

	button {
		display: block;
		width: 16rem;
		margin: 2rem 3rem 1rem 3rem;
		border-radius: 1.2rem; 
		text-align: center; 
		padding: 0.5rem 1rem;
		background-color: variables.$buttonBackground; 
		color: variables.$buttonText; 
		font-size: 1rem;
		border: none;
		outline: 0;
		transition: all 0.1s ease-out;
		&:hover {
			background-color: variables.$buttonHover;
	  	}
	}

	p {
		display: block;
		font-family: variables.$fonts;
		font-size: 1rem;
		color: variables.$textDarkGray;
		margin: 0 0 0 3rem;
	}

	label {
		display: block;
		font-family: variables.$fonts;
		font-size: 1rem;
		color: variables.$textDarkGray;
		margin: 1.5rem 3rem 0 3.2rem;
	}

	.labelBox {
		display: flex;
		  position: relative;
		  justify-content: space-between;
		  margin: 1.5rem 3rem 0rem 3.2rem;
	
		label, span {
			display: block;
			font-family: variables.$fonts;
			font-size: 1rem;
			color: variables.$textDarkGray;
			margin: 0;
		}
		span {
			cursor: default;
			margin-right: 0.3rem;
		}
	
		img {
			width: 1.1rem;
			margin-right: 0.3rem;
		}
	
		.passwordHelper {
			background-color: white;
			position: absolute;
			right: 1.2rem;
			z-index: 1;
			width: 7rem;
			border: 1px solid variables.$borderGray;
			border-radius: 0.5rem;
			padding: 0.5rem;
			margin: 0 0.5rem 0 0;
		
			p {
				font-size: 0.9rem;
				color: variables.$textGray;
				margin: 0;
				padding: 0;
			}
		}
	}

	.validationError {
		border: 1px solid variables.$errorDarkRed;
	}
	
	.validationErrorMessage {
		font-family: variables.$fonts;
		color: variables.$errorDarkRed;
		font-size: 0.9rem;
		margin: 0rem 0rem 0rem 3.2rem;
	}

	.logoBox {
		width: 43%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 1rem;
		margin-bottom: 3rem;
	}
	  
	.logo {
		width: 9.4rem;
	}
	
	.loginLink {
		margin-top: .7rem;
	}
	  
	.loadingSpinnerContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 3rem 0 3rem;
		padding: 0rem;
	}
	
	.loginErrorMessage {
		border-left: 4px solid variables.$errorDarkRed;
		background-color: variables.$errorLightRed;
		margin: 0.5rem 3rem 1.5rem 3rem;
		padding: 1rem;
		animation: showMe 1s forwards;
	
		p {
			display: block;
			font-family: variables.$fonts;
			font-size: 1rem;
			color: variables.$textDarkGray;
			margin: 0;
		}
	}
	@keyframes showMe{
		0%{
			opacity: 0;
		}
		100%{
			opacity: 1;
		}
	}
	
	.successfulRegistrationMessage {
		border-left: 4px solid variables.$successDarkGreen;
		background-color: variables.$successLightGreen;
		margin: 0.5rem 3rem 1.5rem 3rem;
		padding: 1rem;
		animation: showMe 0.5s forwards;
	
		p {
			display: block;
			font-family: variables.$fonts;
			font-size: 1rem;
			color: variables.$textDarkGray;
			margin: 0;
		}
	}
	@keyframes showMe{
		0%{
			opacity: 0;
		}
		100%{
			opacity: 1;
		}
	}
}