@use './variables';

.navbarContainer {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	background-color: variables.$lightPink;

	.navLogoBox {
		display: flex;
		align-items: center;
		margin-left: 2rem;
		padding: 0.7rem;
	}
	.navLogo {
		width: 8rem;
	}

	.navLinksContainer {
		.navToggle {
			display: none;
		}
		@media screen and (max-width: 750px) {
			.navToggle {
			  display: block;
			  position: relative;
			  margin-right: 2.5rem;
			}
		}
	}

	// HAMBURGER MENU
	@media screen and (max-width: 750px) {
		.linksMenu {
			display: none;
		}
		
		.linksMenuActive {
			display: block;
			position: absolute;
			right: 0;
			z-index: 1;
			padding-top: .7rem;
			border-radius: .5rem;
			
			ul {
				margin: 0;
				padding: 0;
				display: block;
				background-color: variables.$backgroundDarkGray;
			}
			
			li {
				cursor: pointer;
				list-style-type: none;
				padding: 0.5rem;
				margin: 0;
				border-radius: 0;
				transition: none;
			}
			
			span, a {
				color: variables.$buttonText;
				font-family: variables.$fonts;
				text-decoration: none;
				font-size: 1.15rem;
				padding: 0;
				margin: 0;
			}
			
			.dropdownButton {
				position: relative;
				display: inline-block;
			
				span {
					color: #c2c2c2;
					cursor: default;
				}
			}
			
			.dropdownMenuContainer {
				display: block;
				position: relative;
				right: 0;
				z-index: 1;
				padding-top: 0;

				.dropdownMenuBox {
					margin: 0;
					border-radius: 0.5rem;
					
					ul {
						list-style-type: none;
						display: block;
						position: relative;
						padding: 0;
						border-radius: 0;
					}

					li {
						color: variables.$buttonText;
						cursor: default;
						height: 100%;
						font-family: variables.$fonts;
						text-decoration: none;
						font-size: 1.15rem;
						padding: 0.5rem;
						margin: 0;
						transition: none;
					}
					
					button, a {
						border: none;
						cursor: pointer;
						background-color: transparent;
						text-decoration: none;
						padding: 0;
						margin: 0;
						border-radius: none;
					}
					
					span {
						color: variables.$buttonText;
						cursor: pointer;
						font-family: variables.$fonts;
						font-size: 1.1rem;
					}
				}
			}
		}
	}

	.linksMenu {
		height: 100%;
	
	  	ul {
			display: flex;
			margin: 0;
	  	}
	  	li {
			cursor: pointer;
			list-style-type: none;
			padding: 0.5rem;
			margin-right: 2.5rem;
			border-radius: 0.7rem;
			transition: background-color 0.1s ease-out;
			&:hover {
			background-color: variables.$lighterPink;
			}
	  	}
	  	span, a {
			color: variables.$buttonText;
			font-family: variables.$fonts;
			text-decoration: none;
			font-size: 1.15rem;
	  	}
		
		.dropdownButton {
			position: relative;
			display: inline-block;
			&:hover .dropdownMenuContainer {
				display: block;
			}
		}

		// DROPDOWN MENU
		.dropdownMenuContainer {
			display: none;
			position: absolute;
			background-color: transparent;
			right: 0;
			z-index: 1;
			padding-top: .7rem;
			
			.dropdownMenuBox {
				background-color: variables.$backgroundDarkGray;
				margin: 0;
				border-radius: 0.7rem;
		  	
				ul {
				list-style-type: none;
				display: block;
				padding: .8rem 0 .8rem 0;
				border-radius: 0;
		  		}
		  		
				li {
					cursor: pointer;
					list-style-type: none;
					margin: 0;
					padding: .4rem 1rem .4rem 1rem;
					border: 0;
					transition: all 0.1s ease-out;
					&:hover {
						background-color: variables.$buttonHover;
						border-radius: 0;
					}
		  		}
				
				button, a {
					border: none;
					background-color: transparent;
					cursor: pointer;
					text-decoration: none;
					padding: 0;
					margin: 0;
					border-radius: none;
		  		}
		  
				span {
					color: variables.$buttonText;
					font-family: variables.$fonts;
					font-size: 1.1rem;
		  		}
			}
		}
	}
}