/* NAVBAR */
.navbar {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	background-color: #b34270;
  }
  .nav-logo-box {
	margin-left: 2rem;
	padding: 0.7rem;
  }
  .nav-logo {
	width: 8rem;
  }
  .links-menu {
	height: 100%;
  }
  .links-menu ul {
	display: flex;
	margin: 0;
  }
  .links-menu li {
	cursor: pointer;
	list-style-type: none;
	padding: 0.5rem;
	margin-right: 2.5rem;
	border-radius: 0.7rem;
	transition: background-color 0.1s ease-out;
  }
  .links-menu li:hover {
	background-color: #c75884;
  }
  .links-menu span, .links-menu a {
	color: white;
	font-family: 'Asap', sans-serif;
	text-decoration: none;
	font-size: 1.15rem;
  }
  .dropdown {
	position: relative;
	display: inline-block;
  }
  .nav-toggle {
	display: none;
  }
  /* DROPDOWN MENU */
  .dropdown-menu-container {
	display: none;
	position: absolute;
	background-color: transparent;
	right: 0;
	z-index: 1;
	padding-top: .7rem;
  }
  .dropdown:hover .dropdown-menu-container {
	display: block;
  }
  .dropdown-menu {
	background-color: #292929;
	margin: 0;
	border-radius: 0.7rem;
  }
  .dropdown-menu ul {
	list-style-type: none;
	display: block;
	padding: .8rem 0 .8rem 0;
	border-radius: 0;
  }
  .dropdown-menu li {
	cursor: pointer;
	list-style-type: none;
	margin: 0;
	padding: .4rem 1rem .4rem 1rem;
	border: 0;
	transition: all 0.1s ease-out;
  }
  .dropdown-menu li:hover {
	background-color: #414141;
	border-radius: 0;
  }
  .dropdown-menu button, .dropdown-menu a {
	border: none;
	background-color: transparent;
	cursor: pointer;
	text-decoration: none;
	padding: 0;
	margin: 0;
	border-radius: none;
  }
  .dropdown-menu span {
	color: white;
	font-family: 'Asap', sans-serif;
	font-size: 1.1rem;
  }
  /* HAMBURGER MENU */
  @media screen and (max-width: 750px) {
	.nav-toggle {
	  display: block;
	  position: relative;
	  margin-right: 2.5rem;
	}
	.links-menu {
	  display: none;
	  }
	  .links-menu.active {
		  display: block;
	  position: absolute;
	  height: 100%;
	  right: 0;
	  z-index: 1;
	  padding-top: .7rem;
	  }
	.links-menu ul {
	  margin: 0;
	  padding: 0;
		  display: block;
	  background-color: #292929;
	}
	.links-menu li {
	  cursor: pointer;
	  list-style-type: none;
	  padding: 0.5rem;
	  margin: 0;
	  border-radius: 0;
	  transition: none;
	}
	.links-menu li:hover {
	  background-color: #363636;
	}
	.links-menu span, .links-menu a {
	  color: white;
	  font-family: 'Asap', sans-serif;
	  text-decoration: none;
	  font-size: 1.15rem;
	  padding: 0;
	  margin: 0;
	}
	.dropdown {
	  position: relative;
	  display: inline-block;
	}
	.dropdown span {
	  color: #c2c2c2;
	  cursor: default;
	}
	.dropdown-menu-container {
	  display: block;
	  position: relative;
	  right: 0;
	  z-index: 1;
	  padding-top: 0;
	}
	.dropdown-menu {
	  margin: 0;
	  border-radius: 0.7rem;
	}
	.dropdown-menu ul {
	  list-style-type: none;
	  display: block;
	  position: relative;
	  padding: 0;
	  border-radius: 0;
	}
	.dropdown-menu li {
	  color: white;
	  cursor: default;
	  height: 100%;
	  font-family: 'Asap', sans-serif;
	  text-decoration: none;
	  font-size: 1.15rem;
	  padding: 0.5rem;
	  margin: 0;
	  transition: none;
	}
	.dropdown-menu li:hover {
	  cursor: default;
	  background-color: #424242;
	  border-radius: 0;
	}
	.dropdown-menu button, .dropdown-menu a {
	  border: none;
	  cursor: pointer;
	  background-color: transparent;
	  text-decoration: none;
	  padding: 0;
	  margin: 0;
	  border-radius: none;
	}
	.dropdown-menu span {
	  color: white;
	  cursor: pointer;
	  font-family: 'Asap', sans-serif;
	  font-size: 1.1rem;
	}
  }