@use "./variables";

.pageNotFoundContainer {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	margin: 0;

	.pageNotFoundBox {
		border: 1px solid variables.$errorDarkRed;
		border-radius: 1rem;
		padding: 2rem;
		background-color: variables.$backgroundGray;
		margin: 3rem;

		h2 {
			font-family: variables.$fonts;
			font-size: 1.5rem;
			color: variables.$textDarkGray;
			margin: 0 0 2rem 0;
			text-align: center;
		}
		p {
			font-family: variables.$fonts;
			font-size: 1.2rem;
			font-weight: 500;
			margin: 0;
			color: variables.$textDarkGray;
			text-align: left;
		}
	}
}
  