@use './variables';

.settingsContainer {
	background-color: variables.$darkPurple;
	margin: 0;
	padding: 2rem;

	.settingsBox {
		padding: 2rem;
		display: block;
		background-color: variables.$backgroundGray;
		border: 1px solid variables.$borderGray;
		border-radius: 0.5rem;
		margin: 0;
	
		h2 {
			font-family: variables.$fonts;
			font-size: 1.5rem;
			color: variables.$textDarkGray;
			margin-top: 0;
			margin-bottom: 1rem;
			margin-left: 1rem;
		}

		.settingsGrid {
			display: grid;
			grid-template-columns: 25% 75%;
			column-gap: 1rem;
		
			.buttonsBox {
				display: block;
				grid-column: 1;

				button {
					display: flex;
					position: relative;
					justify-content: space-between;
					border-radius: 0.5rem;
					border: none;
					padding: 1rem;
					margin-top: 0.5rem;
					margin-bottom: 1rem;
					width: 100%;
					cursor: pointer;
					background-color: variables.$selectorButtonBackground;
					transition: all 0.1s ease-out;
					&:hover {
					background-color: variables.$selectorButtonHover;
					}
					
						img {
							width: 1.2rem;
							margin-right: 0.3rem;
							cursor: pointer;
						}

						label {
							font-family: variables.$fonts;
							font-size: 1.1rem;
							color: variables.$textDarkGray;
							text-align: left;
							border: none;
							background-color: transparent;
							cursor: pointer;
						}
						.delete {
							color: variables.$errorDarkRed;
						}
				}
			}

			.userBox {
				background-color: #ffffff;
				border-radius: 0.5rem;
				border: 1px solid #c9c9c9;
				padding: 1.5rem;
				margin: 0rem 1rem 0rem 0rem;
				grid-column: 2;
				grid-row: 2/1;
			
				h3 {
					font-family: variables.$fonts;
					font-size: 1.2rem;
					margin: 0rem 0rem 0rem 0.2rem;
					color: variables.$textDarkGray;
					text-align: left;
				}
				.delete {
					color: variables.$errorDarkRed;
				}
			
				label {
					display: block;
					font-family: variables.$fonts;
					font-size: 1rem;
					color: variables.$textDarkGray;
					margin: 1.5rem 0rem 0rem 0.2rem;
				}

				input {
					display: block;
					width: 15rem;
					margin: .3rem 0rem .3rem 0rem;
					border: 0;
					font-size: 1rem;
					font-family: variables.$fonts;
					padding: 0.5rem;
					background-color: variables.$inputBackground;
					border-bottom: 1px solid variables.$inputBorder;
					border-radius: 0.5rem;
				}

				button {
					margin-top: 1.5rem;
					width: auto;
					border-radius: 1.2rem; 
					text-align: center; 
					padding: 0.5rem 1rem;
					background-color: variables.$buttonBackground; 
					color: variables.$buttonText; 
					font-size: 1rem;
					border: none;
					outline: 0;
					cursor: pointer;
					transition: all 0.1s ease-out;
					&:hover {
						background-color: variables.$buttonHover;
					}
				}

				p {
					font-family: variables.$fonts;
					font-size: 1rem;
					color: variables.$textDarkGray;
					margin: 0;
				}

				.validationError {
					border: 1px solid variables.$errorDarkRed;
				}
				
				.validationErrorMessage {
					font-family: variables.$fonts;
					color: variables.$errorDarkRed;
					font-size: 0.9rem;
					margin: 0rem 0rem 0rem 0.2rem;
				}

				.submitButtonBox {
					display: flex;
					align-items: center;

					.loadingSpinnerContainer {	
						margin: 1.5rem .5rem 0 .5rem;
						padding: 0rem;
					}
				}
				.deleteButton {
					background-color: variables.$errorDarkRed;
					&:hover {
						background-color: variables.$errorButtonHover;
					}
				}
			}
		}

		@media screen and (max-width: 750px) {
			.settingsGrid {
			  display: block;
		
				.userBox {
					margin: 0;
				}
		  
				.buttonsBox {
					display: block;
				}
			}
		}
	}
}
