@import url('https://fonts.googleapis.com/css?family=Allerta');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #0F0F0F;
}


.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  margin: 0.8rem 2rem;
  background-color: #3a2642;
  border-radius: 0.3rem;
}

.app-title span {
  font-size: 1.5rem;
  font-family: 'Allerta';
  color: #b8608c;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.links-menu {
  height: 100%;
  margin-right: 2rem;
}

.links-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.links-menu li {
  list-style: none;
}

.links-menu li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}