@import url('https://fonts.googleapis.com/css?family=Allerta');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #0F0F0F;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  margin-left: 2rem;
  background-color: #3a2642;
  border-radius: 0.3rem;
}

.app-title span {
  font-size: 1.5rem;
  font-family: 'Allerta';
  color: #b8608c;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.links-menu {
  height: 100%;
  margin-right: 2rem;
}

.links-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.links-menu li {
  list-style: none;
}

.links-menu li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.login {
  float: right;
  background-color: #383838;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-right: 2rem;
  padding: 1.5rem;
}

.login h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #ebebeb;
  margin-top: 0;
  margin-bottom: 1rem;

}
.login input {
  background-color: #5f5f5f;
  border: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding: 0.5rem;
}

.login ::placeholder {
  color: #e2e2e2;
}

.login button {
  margin-top: 0.5rem;
  width:  auto;
  border-radius:  2rem; 
  text-align:  center; 
  padding:  0.5rem 1rem;
  background-color: #5f5f5f; 
  color:  #fff; 
  font-size:  1rem;
  margin-left:  auto; 
  border:  none;
  outline: 0;
}